html body {
    padding: 0;
    margin: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;

    font-family: sans-serif;
    text-align: center;
    font-size: large;

    background: #4a2659;
}

html::-webkit-scrollbar {
    display: none;
}

#main {
    min-height: 100vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}

p, li {
    color: gainsboro;
    height: max-content;
    font-family: 'Georama', sans-serif;
}

h1, h2, h3, h4 {
  color: white;
}

a {
    text-decoration: underline dotted;
    color: inherit;
}

header a {
    text-decoration: none;
}

p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.light {
    background-color: #5a5475; 
    color: white;
    height: max-content;
}

.dark {
    background-color: #391747;
    color: white;

    padding: 1%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post {
    width: 100%;
}

.ver {
    flex-direction: column;
}

.hor {
    flex-direction: row;
}

.scale {
    width: 75%;
    object-fit: scale-down;
    max-height: 50vh;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.span {
    grid-column: span 2;
}

.pad{
    padding:10%;
}

.foot{
    width: 50%;
}
