<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="description" content="The Trans Tech Tent is a small collective of tech enthusiasts in South Wales">
    <meta property="og:url" content="https://www.transtechtent.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Trans Tech Tent">
    <meta property="og:description"
        content="The Trans Tech Tent is a small collective of tech enthusiasts in South Wales">
    <meta property="og:image" content="https://www.transtechtent.com/res/img/Tech-tent-banner.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="transtechtent.com">
    <meta property="twitter:url" content="https://www.transtechtent.com/">
    <meta name="twitter:title" content="Trans Tech Tent">
    <meta name="twitter:description"
        content="The Trans Tech Tent is a small collective of tech enthusiasts in South Wales">
    <meta name="twitter:image" content="https://www.transtechtent.com/res/img/Tech-tent-banner.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/res/css/main1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header class="dark">
        <div class="row">
            <div class="col-sm-1">
                <a href="/">
                    <img src="/res/img/Tech-tent.png" alt="trans tech tent logo" height="60px">
                </a>
            </div>
            <div class="col-sm-4">
                <h1 class="centre">Trans Tech Tent</h1>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <p style="transform:translateY(-10%);">
                    <br/>  
                    <a href="/">
                        <b>Home</b>
                    </a> | 
                    <a href="/resources">
                        <b>Resources</b>
                    </a> |
                    <a href="/corporate">
                        <b>Corporate</b>
                    </a> |
                    <a href="/volunteering">
                        <b>Volunteering</b>
                    </a> |
                    <a href="/blogs">
                        <b>Blogs</b>
                    </a>
                </p>
            </div>
        </div>
    </header>
    <br/>
    <br/>
    {{ content }}
    <br/>
    <br/>
    <footer class="dark flex">
        <div style="font-family: 'Poppins', sans-serif;">
            Follow us on one of our socials for more info as and when it happens!<br><br>
            <a href="https://www.facebook.com/TransTechTent"> <img src="/res/img/fb512.png" alt="facebook"
                    height="50px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/transtechtent"> <img src="/res/img/ig500.png" alt="instagram"
                    height="50px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/TransTechTent"> <img src="/res/img/tw400.png" alt="twitter"
                    height="48px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://discord.gg/e3nqdVr2wT"> <img src="/res/img/di500.png" alt="discord" height="50px"></a><br><br>
            Bluesky: <a href="https://web-cdn.bsky.app/profile/did:plc:cztf63z6kpeppfljuedlfkrp">@transtechtent.bsky.social</a>
        </div>
    </footer>
    <div class="dark">
        <p>
            &copy; Trans Tech Tent C.B.C. {{ site.time | date: '%Y' }}<br/>
            Trans Tech Tent C.B.C. is a community interest limited company registered in Wales (&numero; <a href="https://find-and-update.company-information.service.gov.uk/company/14174163">14174163</a>).            </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
